* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Body and Background */
body {
background: linear-gradient(
    #4997D0 33.33%,
    #FFFFFF 33.33%,
    #4997D0 33.33%);
  line-height: 1.6;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

/* Center Heading and Paragraphs */
h1, p {
  text-align: center;       /* Horizontally centers the text */
  margin: 10px 0;           /* Adds some space around the text */
}
